@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%!important;
  overflow-x: hidden!important;
  font-family: 'Inter', sans-serif;
}

#home #navbar {
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px 0;
  border: none
}

#home #navbar h2 {
  color: white
}

#nav_item li .active {
  color: #1D4ED8;
  font-weight: 600
}

#hotel-map{
  height: 300px
}

#rooms #hotel-map {
  height: 250px
}

#room_details #hotel-map {
  height: 350px
}

#my_bookings li:last-child {
  border: none
} 

.swal2-cancel {
  margin-top: 0!important
}

.menu li > *:not(ul):not(.menu-title):not(details):active, .menu li > *:not(ul):not(.menu-title):not(details).active, .menu li > details > summary:active {
  background-color: #fff!important;
}

#drawer_item {
  padding: 8px 0px;
  font-size: 16px;
}

#drawer_item:hover {
  background-color: #fff!important;
}

#slider_image {
  height: 300px
}



@media only screen and (min-width: 1024px) {
  #rooms #hotel-map {
    height: 250px
  }
  #slider_image {
  height: 450px
  }
  #room_details #hotel-map {
    height: 350px
  }
  #hotel-map{
    height: 500px
  }
}